.registers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}


.employeesArea {
    width: 100%;
}

.tablesBottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 20px;
}

.tablesArea {
    width: 100%;
}

.servicesArea{
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .tablesBottom {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.buttons-registers {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.buttons-registers > a{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #3ea175;
    color: #fff;
    font-weight: bolder;
    font-size: 0.9rem;
    transition: 0.5s;
    text-decoration: none;
}

.buttons-registers > a:hover{
    opacity: 80%;
    cursor: pointer;
}


.buttons-registers > a > i{
    margin-right: 5px;
    font-weight: bolder;
}


.buttonRow {
    border: none;
    cursor: pointer;
    color: #3ea175;
}

#deleteButton{
    color: red;
}

.modalEmployeeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modalEmployeeButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 20px;
    gap: 20px;
}

.modalEmployeeButtons > button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 0.9rem;
    transition: 0.5s;
    text-decoration: none;
    width: 150px;
    font-size: 1rem;
    box-shadow: 5px 3px 10px lightgray;
    cursor: pointer;
}
